@import "compass/css3";

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#content {
	height: 100%;
	width: 100%;
	border: 1px solid rgba(255,255,255,0.7);
	overflow: scroll;
	padding: 20px;
}

body {
  padding: 50px;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  background-size: cover;
 	padding: 30px;
 	color: white;
	// font-family: 'FF DIN Pro Cond'
	// font-family: 'FF DIN Pro Cond Bold'
	// font-family: 'FF DIN Pro Cond Medium'
	font-family: 'FF DIN Pro Cond Light'
}

body::after {
	content: "";
	background: url(/images/bkg.png);
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-size: cover;
}

a {
  color: #00B7FF;
}

.holiday, .blkprty {
	max-width: 100%;
	margin: auto;
	display: table;
}

.holiday {
	width: 300px;
	margin-top: -50px;
}

.blkprty {
	margin-top: -70px;
	width: 900px;

	#Light_7, #Light_6, #Light_5, #Light_4, #Light_3, #Light_2, #Light_1 {
		display: none;
	}

}

.blkprty._7 {
	#Light_7 {
		display: block;
	}
}

.blkprty._6 {
	#Light_6 {
		display: block;
	}
}

.blkprty._5 {
	#Light_5 {
		display: block;
	}
}

.blkprty._4 {
	#Light_4 {
		display: block;
	}
}

.blkprty._3 {
	#Light_3 {
		display: block;
	}
}

.blkprty._2 {
	#Light_2 {
		display: block;
	}
}

.blkprty._1 {
	#Light_1 {
		display: block;
	}
}

#Light_1:hover, #Light_2:hover, #Light_3:hover, #Light_4:hover, #Light_5:hover, #Light_6:hover, #Light_7:hover {
	display: block!important;
}

.middle-content {
	width: 100%;
	max-width: 500px;
	display: table;
	margin: auto;
	text-align: center;
	border: dashed 1px white;
	border-left: none;
	border-right: none;
	padding: 10px;
	margin-top: -10px;
	font-size: 25px;
	line-height: 1.3;
	letter-spacing: 1px;
}

.blkpresents {
	width: 100%;
	max-width: 550px;
	display: table;
	margin: auto;
	img {
		width: 100%;
		max-width: 275px;
	}
}

.date, .location {
	text-align: center;
	font-size: 25px;
	line-height: 1.3;
	letter-spacing: 1px;
}

.location {
	font-size: 20px;
}

.form {
	width: 300px;
	max-width: 100%;
	display: table;
	margin: auto;
	margin-top: 20px;
	input {
		background: transparent;
		height: 50px;
		text-align: center;
		font-size: 36px;
		width: 150px;
		border: none;
		border-bottom: 1px solid #666;
		outline: none;
		color: white;
		font-family: "FF DIN Pro Cond Light";
	}
	.submit {
		border: 1px solid white;
		color: white;
		line-height: 50px;
		display: table;
		padding: 0 50px;
		cursor: pointer;
		transition: 0.15s ease-in-out;
		font-weight: bold;
		text-transform: uppercase;
		margin: 15px auto;
		font-size: 20px;
	}
	.submit:hover {
		background: white;
		color: black;
	}
	.guests {
		line-height: 50px;
		margin-right: 10px;
		font-size: 20px;
	}
}

#mfPreviewBar {
	display: none;
}

.scribbles input[type="radio"] {
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.scribbles ul, .scribbles ol {
	list-style: none;
	padding: 0;
	margin: 20px auto;
	max-width: 800px;
}

.scribbles li {
	margin: 0 auto;
	padding: 12px 0;
	position: relative;
}

.scribbles svg {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 45%;
	margin-top: -10px;
	left: 9px;
	pointer-events: none;
	stroke: black;
	stroke-width: 8px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	z-index: 100;
}

svg:not(:root) {
	overflow: hidden;
}


.scribbles input[type="radio"] {
	width: 30px;
	height: 30px;
	top: 50%;
	left: 0;
	margin-top: -15px;
	position: absolute;
	cursor: pointer;
	border: none;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
}

.scribbles input[type="radio"]:checked {
	border: none;
	background: rgba(255,255,255,0.9);
}

.scribbles label {
	display: inline-block;
	position: relative;
	font-size: 25px;
	padding: 0 0 0 60px;
	vertical-align: top;
	color: rgba(255,255,255,0.2);
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.scribbles input[type="checkbox"]:checked + label, .scribbles input[type="radio"]:checked + label {
	color: #fff;
}

.jonny img {
	position: absolute;
	left: 3%;
	bottom: 3%;
	width: 260px;
	max-width: 52%;
}


.howard img {
	position: absolute;
	bottom: 3%;
	right: 3%;
	width: 200px;
	max-width: 41%;
}

.thing {
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 60s infinite linear;
}

.instructions {
	background: white;
	color: black;
	padding: 15px;
	text-align: center;
	line-height: 1.3;
}

.thanks-message {
	background: white;
	color: black;
	text-align: center;
	padding: 25px;
	width: 100%;
	max-width: 410px;
	margin: 20px auto;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}



@media (max-width: 725px) {
	.blkprty {
		margin-top: -10%;
	}

	.holiday {
		margin-top: -10%;
	}

	.howard {
		display: inline-block;
		vertical-align: bottom;
		max-width: 41%;
		img {
			position: relative;
			max-width: 100%;
		}
	}
	.jonny {
		display: inline-block;
		vertical-align: bottom;
		max-width: 52%;
		img {
			position: relative;
			max-width: 100%;
		}
	}
}
